<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/link.ejs') %> 
</head>
<body>
    <h1 class="text-primary">I am bootstrap.</h1>
    <ul class="list-group" id="list">

    </ul>
    <%- include('../common/scripts.ejs')  %> 
</body>
</html>